header.navbar.app-header a.navbar-brand {
	background-image: url(/assets/images/utils/cosmos-hotel-logo.png);
	background-size: 90px auto;
}

.nav-dropdown-toggle {
	cursor: pointer;
}

/* Cards */
.card-actions > a {
  cursor: pointer;
  transition: .4s;
}
.card-actions > a:hover {
  background-color: #c8cbcd;
}
.card-actions > a:hover > i {
  color: white;
}
.card-actions > a:active {
  background-color: #aaadaf;
}

