{{#card-block cardClass="card-accent-secondary" as |card|}}
  {{#card.header}}
    {{fa-icon "photo"}}<strong>Lista</strong>
  {{/card.header}}
  
  {{#card.body}}
   <h1> Adriano </h1>
   <button id="#asd" {{ action "denis" }}>Denis</button>
  {{/card.body}}
{{/card-block}}